# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite database
habits.db

src/__init__.py

# Logs
logs.txt
*.log

# OS files
.DS_Store
Thumbs.db

.env
.treeignore

run.sh
